@model Contaxt.Models.ContactExam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContactExam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofhire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofhire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofbirth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
